<?xml version="1.0" encoding="UTF-8"?>
<!-- sql구문을 설정하는 파일 -->
<!-- 문서 형식 정의(Document Type Definition, DTD)는 컴퓨터 용어로,
     SGML 계열의 마크업 언어에서 문서 형식을 정의하는 것이다. -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : DAO 파일명을 원칙으로 작성한다. 
     mapper 파일이 여러개였을 때 namespace는 절대 중복되면 안 된다.
     table당 ___Mapper.xml 파일 하나!! -->
<mapper namespace="com.smhrd.model.BoardDAO">

	<!-- resultType, parameterType : 패키지명까지 풀네임 작성 원칙
	     풀네임을 작성하고 싶지 않다면 mybatis_config.xml에 별칭을 작성 -->
	<select id="selectAll" resultType="Board">
		select * from t_board
	</select>
	
	<!-- insert, update, delete 작성 : parameterType(받아오는 값)
	     select : resultType(되돌려줄 결과값, 기본 자료형이 아니라면 지정)
	     **parameter로 받아온 데이터는 #{필드명} 값을 가져올 수 있다. -->
	
	<insert id="insert" parameterType="Board">
		insert into t_board(board_title, board_mem_id, board_content, board_image, board_wd)
		values(#{board_title},#{board_mem_id},#{board_content},#{board_image}, sysdate)
		<!-- 중괄호 안에 띄어쓰기x, 구문 끝에 세미콜론x -->
	</insert>
	
	<select id="selectOne" resultType="Board">
		select * from t_board where board_num = #{board_num}
	</select>
	
	<update id="update" parameterType="Board">
		update t_board
		set board_title = #{board_title}, board_content = #{board_content}
		where board_num = #{board_num}
	</update>

	<!-- 특정 하나만 채워줄 때는 굳이 parameterType 수집해줄 필요가 없다! -->
	<delete id="delete">
		delete join
		where join_num = #{join_num}
	</delete>
</mapper>  